::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CastDetails-body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #191D29;
    background-image: url("/public/images/Cast-Details/Background.png");
    background-size: cover;
    background-position: center;
}

.CastDetails-container {
    height: 88vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cast {
    height: 100%;
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.cast-name {
    font-family: 'Regular';
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 58px;
    text-transform: capitalize;
    color: #14D9E6;
}

.cast-image {
    height: 200px;
    width: 200px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    border-radius: 8px;
    padding: 20px;
}

.separator {
    width: 1px;
    height: 200px;
    background: linear-gradient(99.46deg, #9DFE00 10.9%, #14D9E6 97.14%);
}

.details {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.details-toprow {
    display: flex;
    gap: 20px;
    height: 20%;
    width: 80%;
}

.toprow-sections {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    border: 1px solid;
    border-image: linear-gradient(99.46deg, #9DFE00 10.9%, #14D9E6 97.14%) 1 stretch;
}

.details-row {
    height: 20%;
    width: 80%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    border: 1px solid;
    border-image: linear-gradient(99.46deg, #9DFE00 10.9%, #14D9E6 97.14%) 1 stretch;
}
 
.cast-episodes {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    height: 40%;
    width: 80%;
    border: 1px solid;
    border-image: linear-gradient(99.46deg, #9DFE00 10.9%, #14D9E6 97.14%) 1 stretch;
}

.section-desc{ 
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px 20px;
}

.title {
    font-family: 'Regular';
    font-size: 0.7rem;
    font-weight: 500;
}
.status {
    font-family: 'Regular';
    font-size: 1.2rem;
    font-weight: 700;
}
.status ul{
    padding: 20px 40px;
    overflow-y: hidden;
}
