.cast-carousal-container {
    height: 38vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 40px 0 0 45px;
}

.cast-carousal-header {
    height: 2vh;
    width: 93vw;
    display: flex;
    justify-content: space-between;
}

.cast-carousal-header-left {
    color: white;
    padding: 10px 5px;
    font-family: 'Medium';
    font-size: 20px;
}

.cast-carousal-header-right {
    border: 1px solid #9DFE00;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px;
    font-family: 'Medium';
    font-size: 13px;
}

.cast-carousal-header-right:hover {
    transform: scale(1.1);
    background-color: #161a25;
    ;
}

.cast-carousal-header-right a {
    color: white;
    text-decoration: none;
}

.cast-carousal {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 100%;
    width: 93vw;
    overflow-x: scroll;
}

.cast-carousal::-webkit-scrollbar{
    height: 5px;
}
.cast-carousal::-webkit-scrollbar-thumb {
    background-color: rgb(71, 71, 71);
    border-radius: 50px;
}
.cast-carousal::-webkit-scrollbar-track {
    background-color: #202635;
}
.cast-carousal::-webkit-scrollbar-thumb:hover{
    background-color: rgb(117, 116, 116);
}

.character-container {
    width: 11vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    border-radius: 12.0933px;
    border: 1px solid #9dfe0098;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    gap: 5px;
}

.character-container:hover {
    color: rgb(252, 215, 170);
}

.character-image {
    height: 90%;
    width: 100%;
}

.character-image img {
    height: 120px;
    width: 120px;
}

.character-name {
    font-family: 'Regular';
    font-size: 0.8rem;
}

.cast-carousal a {
    color: white;
    text-decoration: none;
}