.locations-carousal-container {
    height: 30vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 40px 0 0 45px;
}

.locations-carousal-header {
    height: 2vh;
    width: 93vw;
    color: white;
    padding: 10px 5px;
    font-family: 'Medium';
    font-size: 20px;
}

.locations-carousal {
    display: flex;
    gap: 10px;
    height: 100%;
    width: 93vw;
    overflow-x: scroll;
}

.locations-container {
    width: 20vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    border-radius: 12.0933px;
    border: 1px solid #9dfe0098;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 20px;
    font-family: 'Regular';
    box-sizing: border-box;
}

.location-id {
    font-size: 0.8rem;
}

.location-name {
    font-size: 1.3rem;
    height: 60px;
    width: 170px;
}