.episodes-carousal-container {
    height: 20vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 40px 0 0 45px;
}

.episodes-carousal-header {
    height: 2vh;
    width: 90vw;
    color: white;
    padding: 10px 5px;
    font-family: 'Medium';
    font-size: 16px;
}

.episodes-carousal {
    display: flex;
    gap: 10px;
    height: 100%;
    width: 90vw;
}

.episodes-container {
    width: 19vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    border-radius: 12.0933px;
    border: 1px solid #9dfe0098;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 20px;
    font-family: 'Regular';
}
.episode-name {
    font-size: 1.3rem;
}