@import "./font.css";
@import "./assets/CSS/Home/Section01.css";
@import "./assets/CSS/Home/Section02.css";
@import "./assets/CSS/Home/Section03.css";
@import "./assets/CSS/Home/Section04.css";
@import './assets/CSS/Cast-details/Casts.css';
@import './assets/CSS/Cast-details/CastDetails.css';


::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.home {
    position: relative;
    width: 100vw;
    height: 184vh;
    background-color: #191D29;
    background-image: url("/public/images/Home/Background/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.extra-bold-italic {
    font: 700 70px ExtraBoldItalic;
}

.extra-bold {
    font: 700 70px ExtraBold;
}

.inline {
    display: inline;
}

.white {
    color: white;
}